pyTelegramBotAPI==4.14.0
python-dotenv==1.0.0
requests==2.31.0
python-telegram-bot-calendar==1.0.5  изменить
peewee==3.15.3   изменить
loguru==0.6.0   изменить
python-telegram-bot-pagination==0.0.2    изменить